.quemSomos{
    background-image: url("../../assets/backgroundQuemSomos.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75vh;
    align-items:flex-start;
    width: 47%;
    

    

    h2{
        font-size: 2.5rem;
        color:#205691;
        width: 70%;
        
    }

    p{
       
        font-size: 1.5rem;
        width: 85%;

    }


}



@media (min-width: 201px) and (max-width: 500px) {
  .quemSomos{
    width: 100%;
    display: flex;
    align-items: center;
    
    background-image: none;
    
}
.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 75vh;
    align-items: center;
    width: 100%;
    
    

    

    h2{
        font-size: 2.1rem;
        color:#205691;
        width: 95%;
        text-align: center;
    }

    p{
       
        font-size: 1rem;
        width: 85%;
        text-align: center;

    }


}
}