.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    


    h2{
        color: #205691;
        font-size: 5rem;
       
    }

    p{
        font-size: 3rem;
        width: 80%;
        
    }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 75rem;
  margin: 6rem auto;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  text-align: center;
  gap: 1.5rem;

   img {
  width: 90%;
  height: 12rem;
  object-fit: cover;
  border-radius: 1.25rem;
  }

   h3 {
  margin-top: 1.5rem;
  font-size: 2.2rem;
  color: #205691;
   }

   .article p {
  font-size: 1.6rem;
  line-height: 1.6;
  width: 90%;
  min-height: 7rem;
  }

   button {
  width: 14rem;
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #205691;
  color: white;

  font-size: 1.6rem;
  border: none;
  border-radius: 0.75rem;

  margin-top: auto;
  margin-bottom: 1rem;

  cursor: pointer;
}



}

