.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    h2{
        color: #205691;
        font-size: 5rem;
       
    }

    p{
        font-size: 3rem;
        width: 80%;
        
    }
}


  
