.boxTitulo {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    h2 {
        color: #205691;
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
        width: 45%;
        text-align: center;
    }
}

.containerCardsDeAcoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cardsDeAcoes {    
    width: 26%;
    height: 38vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem;

    img {
        height: 15vh;
    }

    h2 {
        color: #122F97;
        font-size: 1.5rem;
    }

    p {
        text-align: center;    
        width: 80%;
    }

    button {
        background-color: #205691;
        color: #fff;
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
}

@media (min-width: 201px) and (max-width: 500px){

    .boxTitulo {
   

    h2 {
        
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
        width: 45%;
        
    }
}

.containerCardsDeAcoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cardsDeAcoes {    
    width: 70%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem;

    img {
        width: 90%;
    }

    h2 {
        
        font-size: 1.2rem;
    }

    p {
        font-size: 0.85rem;   
        width: 80%;
    }

    button {
        background-color: #205691;
        color: #fff;
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
}
}