.containerTelaPerfil {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    article {
        border: solid #EFEEEA;
        border-radius: 16px;
        height: 50vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        img {
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        object-fit: cover;
        border: solid #00AAFF;
    } 
    }
}
.cardInfo {
    
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;

    h2{
        font-size: 1.85rem;
    }

    h3{
        font-size: 1.2rem;
        font-weight: 400;
        color: #278733;
    }

    .paragrafoSobreMim{
        text-align: center;
        width: 80%;
    }
    
}

address{
    display: flex;
    justify-content: space-between;
    width: 60%;

    p{
        font-size: 0.85rem;
    }

}

.listaInteresses{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    
    li{
        color: #278733;
        font-size: 0.82rem;
        font-weight: 600;

        background-color:#D4E7D6;
        padding: 0.8rem;
        border-radius: 10px;
    
    }
}

@media (min-width: 201px) and (max-width: 500px){

    .containerTelaPerfil {
    justify-content: space-between;
    align-items: center;
    article {
        height: 100%;
        border: none;
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
        width: 10rem;
        height: 10rem;
        object-fit: cover;
    } 
    }
}
.cardInfo {
    
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    
    h2{
        font-size: 1.85rem;
        
    }

    h3{
        font-size: 1.2rem;
        font-weight: 400;
        color: #278733;
       
    }

    .paragrafoSobreMim{
        text-align: center;
        width: 80%;
        font-size: 0.7rem;
    }
    
}

address{
    height: 80%;
    display: flex;
    justify-content: space-around;
    width: 60vw;
    flex-direction: column;
    align-items: center;

    p{
        font-size: 0.85rem;
    }

}

.listaInteresses{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
    li{
        color: #278733;
        font-size: 0.50rem;
        font-weight: 700;
         
        background-color:#D4E7D6;
        
    
    }
}
}