.secaoInicio{
    display: flex;
    justify-content: space-around;
    height: 80vh;
   
    ;

    .texto{
        color: #205691;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: 100%;
        h2{
            font-size: 8rem;
            width: 80%;
            margin-bottom:0.3rem;
            
        }

        p{
            font-size: 2.5rem;
            width: 80%;
        }
    }
}

@media (min-width: 201px) and (max-width: 500px){
    .secaoInicio{
        flex-direction: column;
        align-items: center;

        .texto{
            width: 90%;
            height: 30vh;
            text-align: center;
            align-items: center;

        h2{
            font-size: 2rem;
            width: 70%;
            padding: 0.8rem;
        }

        p{
            font-size: 1rem;
        }

       }
       img{
        width: 60%;
        border-radius: 100%;
        align-items: center;
        
        
       }
    }
}