.navBar{
    display:flex;
    height: 20vh;
    
    justify-content: space-around;
    align-items: center;
    background-color: #205691;

    ul{
        display: flex;
        justify-content: space-around;
        width: 70%;
        list-style: none;
       a{
        text-decoration: none;
        color: #FFFFFF;
        font-size: 2rem;
       }
    }

    
    .perfil{
        width: 9rem;
        height: 9rem;
        border-radius: 50%;
        object-fit: cover;
        border: solid #00AAFF;
        
    }
}

@media (min-windth: 201px) and (max-width: 500px){
    .navBar{

        a{
            font-size: 0.8rem;
        }
        img{
            height: 4vh;
        }
        .perfil{
            height: 6vh;
        }
    }
}