footer {
  width: 100%;
  height: 10vh;
  background-color: #205691;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  div{
  width: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  img {
  width: 80px;
  
  }

  h2 {
  
  font-size: 1.8rem;
 }
}

p{
  width: 24%;
  text-align: center;
}

.blocoDaDireita {
  width: 12%;
  display: flex;
  justify-content: space-around;
  align-items: center;
 

 img{
    width: 15%;
 }
}

}


@media (min-width: 201px) and (max-width: 500px){

footer{
  height: 35vh;
  flex-direction: column-reverse;
  
  div{
    width: 60%;
  }
  p{
    font-size: 0.75rem;
    width: 90%;
  }
  .blocoDaDireita{

    width: 80%;

    img{
      width: 15%;
    }

  }
}
}



